<!DOCTYPE>
<html>
<head>
	<title></title>
</head>
<style type="text/css">
	.table{
		border: 1;
	}
</style>
<body>
<div class="row col-md-12">
	<div class="col-md-6">
		<p>
		Voucher No:
		</p>
	</div>

	 <div class="col-md-6">
	 	<p>
		Voucher Date:
		</p>
	 </div>
</div>
<div class="row col-md-12">
	<div class="col-md-6">
		<p>
	Supplier Details:
	</p>
	</div>
	<div class="col-md-6">
		<p>
	Buyer Details:
	</p> 
	</div>
</div>
	
<div class="row col-md-12">
	<div class="col-md-6">
		<p>
	Delivery Location:
	</p>
	</div>
</div>

<div class="col-md-12">
	<table class="table-responsive">
		 <thead>
		 	<tr>
		 	<th>
		 		S.No
		 	</th>
		 	<th>
		 		Item Name
		 	</th>
		 	<th>
		 		Hsn
		 	</th>
		 	<th>
		 		Mrp
		 	</th>
		 	<th>
		 		Unit Price
		 	</th>
		 	<th>
		 		Quantity
		 	</th>
		 	<th>
		 		UOM
		 	</th>
		 	<th>
		 		Amount
		 	</th>
		 	<th>
		 		Discount
		 	</th>
		 	<th>
		 		Tax Rs
		 	</th>
		 	<th>
		 		Net Value
		 	</th>
		 	</tr>
		 </thead>
		 <tbody>
		 	<tr>
		 	<td></td>
		 	<td></td>
		 	<td></td>
		 	<td></td>
		 	<td></td>
		 	<td></td>
		 	<td></td>
		 	<td></td>
		 	<td></td>
		 	<td></td>
		 	<td></td>
		 	</tr>
		 </tbody>
	</table>
</div>

<div class="col-md-12">
	<div class="col-md-6">
		<p>
			Expense Details:
		</p>
	</div>
	<div class="col-md-6">
		<p>
			Net Value:
		</p>
	</div>
</div>

<div class="col-md-12">
	<div class="col-md-6">
		<p>
			Amount In Words:
		</p>
	</div>
</div>

</body>
</html>