@font-face {
    font-family: 'Rubik Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../font/rubik/Rubik-Medium.ttf') format('woff');
}

@font-face {
    font-family: 'Muli Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../font/Muli/static/Muli-Medium.ttf') format('woff');
}

@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    src: url('../font/FontAwesome.otf') format('woff');
}

body {
    font-family: 'Muli Medium' !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

.w-20 {
    width: 12%;
    
}

.heading{ font-weight: bold; font-size: medium;}
.bg-green {
    background: #28a745;
}

.form-control {
    border: 1px solid #aaa !important;
}

.header .navbar-light .navbar-nav .nav-link,
.header .navbar-light .navbar-nav .active>.nav-link {
    color: #fff;
}

.header .navbar-brand img {
    max-width: 90px;
}

.login .dropdown-menu {
    right: 0;
    left: auto;
}


/* body section */

.body-sec {
    padding: 12px 0;
}

.h-right-btn {
    text-align: end;
}

.h-right-btn li {
    display: inline-block;
}

.body-sec h3 {
    margin-bottom: 0;
    font-size: 16px;
}

.body-sec h4 {
    font-size: 18px;
    font-weight: 500;
}

.h-right-btn li button {
    padding: 0;
}

.h-right-btn li button a {
    vertical-align: text-top;
}

.body-sec .card-header .row {
    margin: 0;
}

.body-sec .card-header .row .col-4 {
    margin: auto 0;
}

.h-right-btn li button a {
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 600;
}

.body-sec .card-header {
    margin: auto 0;
    padding: 6px 0px;
    background: #a3d072;
    border: 0;
    color: #fff;
}

.h-right-btn li button a {
    color: #fff;
}

.h-right-btn li button:hover a {
    text-decoration: none;
}

.foot p {
    margin-bottom: 0;
    padding: 8px 12px;
    font-size: 15px;
}

.body-sec {
    height: 100%;
    min-height: 575px;
}

.foot {
    background: #5b5b5b;
    color: #fff;
    display: block;
    /* position: absolute; */
    right: 0;
    left: 0;
    z-index: 1005;
    bottom: 0;
    width: 100%;
}

.body-sec .card-body {
    padding: 12px;
}

.form-group {
    margin-bottom: 14px;
}

#cus-btn {
    font-size: 10px;
    position: absolute;
    top: 0px;
    padding: 9px 8px;
    border-radius: 5px;
    border: 0;
    background: #85c227;
    color: #fff;
}


/* mega menu options */

.menu-large .dropdown-menu {
    border: 0 !important;
}

.menu-large {
    position: static !important;
}

.megamenu {
    position: absolute;
    padding: 20px 20px;
    width: 100%;
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.15);
}

.megamenu .dropdown-item:hover {
    background: transparent;
}

.megamenu .dropdown-item li {
    list-style-type: none;
}

.megamenu .dropdown-item li a {
    color: #000000;
}

.megamenu .dropdown-item li a:hover {
    color: #28a745;
}

.megamenu .dropdown-header {
    padding: 8px 0px;
    font-size: 18px;
    font-weight: 600;
    color: #28a745;
    transition: 1s;
}

.header .nav-item .nav-link:hover,
.menu-large.show,
.header .dropdown.show {
    background: white !important;
    color: #000 !important;
}


/* data tables options */

table.dataTable thead th,
table.dataTable tbody td {
    padding: 5px 8px;
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    bottom: 5px;
}

div.dataTables_wrapper div.dataTables_length label,
table.dataTable thead th,
table.dataTable tbody td,
div.dataTables_wrapper div.dataTables_filter label,
div.dataTables_wrapper div.dataTables_info {
    font-size: 14px;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 5px;
}

.page-link {
    padding: 5px 6px;
    font-size: 14px;
}

div.dt-buttons {
    position: relative;
    float: unset !important;
    text-align: center;
}

#master_length {
    position: absolute !important;
    top: 0px !important;
}

#master_wrapper {
    position: relative;
}

button.dt-button {
    padding: 1px 12px !important;
    font-size: 12px !important;
}

table.dataTable {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.amount {
    text-align: right;
}

div.dt-buttons {
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

.dt-buttons .btn {
    padding: 3px 15px;
    font-size: 14px;
    background: white;
    color: #000;
}

.custom-range::-webkit-slider-thumb {
    background: green !important;
}

.custom-range::-moz-range-thumb {
    background: green !important;
}

.custom-range::-ms-thumb {
    background: green !important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #008000;
    background-color: #008000;
}

.mandatory {
    color: red;
}

#master .form-control {
    height: 32px;
    padding: 4px 3px;
    font-size: 14px;
}

#master a i {
    font-size: 12px;
    position: relative;
    top: -1px;
}

.form-horizontal .form-control {
    height: 32px;
    padding: 5px 6px;
    font-size: 12px;
}

.form-horizontal .col-form-label {
    font-size: 14px;
}

.form-horizontal .btn {
    padding: 2px 15px;
    font-size: 14px;
    line-height: 1.5;
}

#master_wrapper .dropdown-item.active,
.dropdown-item:active {
    background-color: #28a745;
}

.is-valid+.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #28a745;
    border-radius: 4px;
}

.is-invalid+.select2-container--default .select2-selection--single {
    border: 1px solid #dc3545;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 34px !important;
    padding: 5px 6px;
    font-size: 14px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444 !important;
    line-height: 22px !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #575757;
    font-size: 12px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #cecece;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #dc3545 !important;
    background-image: none !important;
}

.form-control.is-valid,
.was-validated .form-control:valid {
    border-color: #28a745 !important;
    background-image: none !important;
}

.single_view label,
.single_view h4,
.single_view h6 {
    font-weight: bold;
}

.single_view .form-group {
    margin-bottom: 8px !important;
}

.single_view h4 {
    width: 180px;
    text-align: center;
    background: #ccc;
    color: #000;
    padding: 5px 7px;
    margin: 40px 0 0px 0px;
}

.single_view h5 {
    color: #1d0c0c;
    font-size: 15px;
    font-weight: 600;
}

.single_view h6 {
    text-align: left;
    width: 177px;
    margin: 25px 0px 15px 0;
    padding: 9px 0;
    font-size: 19px;
    color: #828282;
}

.single_view b {
    border: 0.5px solid gainsboro;
    width: 100%;
    margin: 15px 0 0 0;
}

.single_view .table td {
    border: 1px solid #b7b7b7;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

table.dataTable {
    width: 100% !important;
}

.r_pmission .row .w-20 {
    border: 1px solid #ccc;
    padding: 10px 10px;
    margin-bottom: 0;
}

.r_pmission .row {
    padding: 10px 7px;
}

.bulk_item_div .select2-container {
    width: 100% !important;
}

.bank_dtails th {
    text-align: center;
    font-size: 14px;
}

.bank_dtails td input {
    width: 70%;
    margin: 0 auto;
}

.bank_dtails td {
    text-align: center;
}

.bank_dtails .select2 {
    width: 150px !important;
}

th.tbl_wd {
    width: 220px;
}

.bank_dtails .select2-selection__rendered {
    font-size: 12px !important;
}


/* table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 50px !important;
    white-space: nowrap;
 } */

.form-horizontal .form-control::placeholder {
    font-size: 12px;
}

.form-horizontal .col-form-label {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
}

.select2-results__option {
    font-size: 12px;
}
.h3-i {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px !important;
}
.body-sec .form-group {
    margin-bottom: 8px;
}
.custom-table table th, .custom-table table td {
    padding: 5px;
}
.price-tbl table th {
    text-align: center;
}

.price-tbl table th {
    text-align: center;
    
}
.cus-wd {
    min-width:175px;
} 

.select2-container--default .select2-selection--single{
	font-size:12px;
}

.operator {
        height: 32px !important;
    border-radius: 0 !important;
}
